@import 'tailwindcss';
@theme {
  --color-primary: #e67e22;
  --color-secondary: #fffefa;

  --color-primary-dark: #d47420;
  --color-secondary-dark: #f7f7f7;
  --color-blue-dark: #234566;
  --color-blue-black: #001325;

  --color-blue-icon: #e6edf8;
  --color-blue-dark-gradient: #e6edf8; /* #234566; */
  --color-blue-light-gradient: #fffefa; /* #468BCC; */

  --font-title: 'Poppins', sans-serif;
}

:root {
  font-family: 'Poppins', sans-serif;
}

.hero-bg {
  background-image: url('/img/hero-img.webp');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.nav-inset-shadow {
  box-shadow: inset 0 -2px 11px 0px rgba(218, 218, 218, 0.19);
}

@utility bg-body {
  @apply bg-linear-to-b from-secondary from-20% to-primary;
}

@utility title {
  @apply font-title font-bold leading-11;
}

@utility subtitle {
  @apply font-title font-semibold text-center md:text-2xl;
}

@utility text-2xs {
  @apply text-[10px];
}

@utility nav-blur {
  @apply blur-2xl;
}

@utility nav-btn { 
  @apply cursor-pointer hover:text-primary
}

@utility mobile-nav-btn { 
  @apply flex items-center justify-center text-center h-14 border-b border-gray-200
}

@utility bg-card-service {
  @apply bg-linear-to-t from-primary/90 to-primary/70;
}

@utility bg-linear-cta {
  @apply bg-linear-to-b from-[#E6EDF8] to-[#AACBFF];
}

@utility footer-icon {
  @apply hover:-translate-y-2 transition cursor-pointer;
}

@utility bg-benefits {
  @apply bg-[url('/img/puppies-collection.webp')] bg-blend-luminosity;
}

@utility bg-linear-primary {
  @apply bg-linear-to-br from-primary/90 to-yellow-400 text-white;
}

@utility bg-benefit-card {
  @apply bg-linear-primary shadow-md border-2 border-amber-500 rounded-xl p-4;
}

@utility bg-orange-fade {
  background: linear-gradient(
    134.95deg,
    rgba(217, 217, 217, 0) 47.16%,
    rgb(221, 109, 11) 100%
  );
}
